html {
	background: url(../images/background.jpg) no-repeat center center fixed;
}

body {
	font-family: 'Helvetica Neue', arial;
	text-align: center;
	letter-spacing: 1px;
	width: 75%;
	position: relative;
	top: 50px;
	margin: 0 auto;
	padding: 25px;
	background: linear-gradient(bottom, rgba(255,255,255,.7), rgba(255,255,255,.2));
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,.7), rgba(255,255,255,.2));
	background: -moz-linear-gradient(bottom, rgba(255,255,255,.7), rgba(255,255,255,.2));
	color: #660033;
	border-radius: 20px;	
}

h1, h2 {
	font-weight: 100;
}

h1 {
	margin-top: 0;
	font-size: 3em;
	letter-spacing: 0;
}

h2 {
	margin-top: 75px;
	font-size: 2.5em;
}

p {
	padding-bottom: 20px;
}

button, input {
	font-size: 1em;
	padding: 8px;
	letter-spacing: 2px;
	text-align: center;
	font-family: 'Helvetica Neue', arial;
	letter-spacing: 1px;
}

button {
	background-color: #660033;
	border-radius: 5px;
	color: #eee;
	border: none;
}

button:hover, ::selection {
	background-color: #993366;
}

input {
	border: none;
	border-bottom: 1px solid #660033;
	background: transparent;
	color: #660033;
	letter-spacing: 3px;
}
